# Core Player Environment Configuration Template
VK_TOKEN=your_vk_token_here
SC_CLIENT_ID=Wq8jpsB4RfUsrezgEFDFfBGhkClF0sUN
FREESOUND_CLIENT_ID=your_freesound_client_id
FREESOUND_API_KEY=your_freesound_api_key
GENIUS_CLIENT_ID=your_genius_client_id
GENIUS_CLIENT_SECRET=your_genius_client_secret
GENIUS_ACCESS_TOKEN=your_genius_access_token
HITMO_MIRROR_URL=https://ru.hitmoz.org
